* {
  width: 80%;
  margin: auto; 
}
.title { 
  text-align: left;
}
.subtitle { 
  text-align: right;
} 
hr { 
  background-color: red;
  height: 5px;
}

.playlist { 
margin: 2em;
}

.song { 
  width: 500px;
  display:flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.song h3 { 
  padding: 10px;
}

.song button { 
  border: none;
  background-color: white;
}
.colorChange { 
  background-color: red;
}

.favorites { 
  margin: 2em;
}

input { 
  margin: 5px;
}
input[type=submit] { 
  background-color: red;
  color: white;
  
}