* {
  width: 80%;
  margin: auto; 
}
.title { 
  text-align: left;
}
.subtitle { 
  text-align: right;
} 
hr { 
  background-color: red;
  height: 5px;
}
.song { 
  width: 100%;
  display:flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 10px;
}

.song h3 { 
  padding: 10px;
}

.song button { 
  border: none;
  background-color: white;
}
.colorChange { 
  background-color: red;
}